
.landingPage{
    background: url("../images/parliament.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.hideLanding{
    display: none;
}

.landingPageFlex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    form{
        // background:;
    }
    input{
        display: block;
        width: 100%;
        margin-top: 20px;
    }
    h1{
        font-size: 3rem;
        text-align: center;
        width: 80%;
        border: 1px solid black;
        background: linear-gradient(rgba(255, 255, 255, 0.7));
    }
    label{
        font-size: 1.5rem;
        background: linear-gradient(rgba(255, 255, 255, 0.7));
        stroke: 2

    }
    h3{
        color: white;

    }
}


// .mainButtons input{
//     height: 50vh;
// }