
.landingPage{
    background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url("../images/parliament.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.hideLanding{
    display: none;
}

.landingPageFlex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    form{
        // background:;
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    input{
        display: block;
        width: 200px;
        margin-top: 20px;
    }
    h1{
        font-size: 3rem;
        text-align: center;
        width: 80%;
        color: white;
        // border: 1px solid black;
        // background: linear-gradient(rgba(255, 255, 255, 0.7));
    }
    label{
        font-size: 1.5rem;
        // background: linear-gradient(rgba(255, 255, 255, 0.7));
        color: white;

    }
    h3{
        color: white;

    }
}


// .mainButtons input{
//     height: 50vh;
// }