
.hideMain{
    display: none
}

.masterDiv{	
	background: $subcolor1;
	height: 100vh;
	
	
}

.flexMain{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mainHed{
	font-size: 1.8rem;
}

.mainImage{
	padding-top: 50px;
	width: 50%;
	img{
		width: 100%;
	}
}

.mainButtons{
	// padding-top: 200px;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	background: $subcolor1;
	padding-bottom: 100px;

}


.button1 input, .button2 input {
	padding: 5px;
	width: 150px;
	height: 80px;
	border-radius: 20px 20px 20px;
	border: 2px solid tomato;
	margin-top: 50px;
}



// styles for YES quiz, question 1

.yes{
	background: $subcolor3;
}
.yesQuestion1{
	
	form{
		width: 100%;
		padding-top: 150px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	fieldset{
		border: none;
		width: 50%;
	}
	legend{
		font-size:3rem;
		text-align: center;
		margin-bottom: 50px;
	}
	input[type=radio]{
		padding: 15px;
		width: 50px;
		
	}
	label{
		font-size: 1.6rem;
		display: block;
	}

	input[type=submit]{
		margin: 50px auto;
		width: 100px;
		display: block;
	}
	
}

.no{
	background: $subcolor4;
}
.noQuestion1{
	color: white;
	form{
		width: 100%;
		padding-top: 150px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	fieldset{
		border: none;
		width: 50%;
	}
	legend{
		font-size:3rem;
		text-align: center;
		margin-bottom: 50px;
	}
	input[type=radio]{
		padding: 15px;
		width: 50px;
		
	}
	label{
		font-size: 1.6rem;
		display: block;
	}

	input[type=submit]{
		margin: 50px auto;
		width: 100px;
		display: block;
	}
	
}


