article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-size: 125%;
  font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

a, a:visited {
  text-decoration: none;
}

.landingPage {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/parliament.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/parliament.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

@media (min-width: 601px) and (max-width: 1023px) {
  .landingPage {
    background-position: 50% 0;
  }
}

@media (max-width: 600px) {
  .landingPage {
    background-position: 50% 0;
  }
}

.hideLanding {
  display: none;
}

.landingPageFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.landingPageFlex form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landingPageFlex input {
  display: block;
  width: 200px;
  margin-top: 20px;
}

.landingPageFlex h1 {
  font-size: 3rem;
  text-align: center;
  width: 80%;
  color: white;
}

@media (max-width: 600px) {
  .landingPageFlex h1 {
    font-size: 2rem;
  }
}

.landingPageFlex label {
  font-size: 1.5rem;
  color: white;
}

@media (max-width: 400px) {
  .landingPageFlex label {
    font-size: 1.2rem;
  }
}

.landingPageFlex h3 {
  color: white;
}

.hideMain {
  display: none;
}

.masterDiv {
  background: #8bbabb;
  height: 100vh;
}

.flexMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainHed {
  font-size: 1.8rem;
  margin-bottom: 10px;
  padding-top: 20px;
}

.mainHed h2 {
  text-align: center;
}

.mainHed h3 {
  margin-bottom: 0;
}

@media (min-width: 601px) and (max-width: 1023px) {
  .mainHed h2 {
    font-size: 2.3rem;
  }
}

.mainImage {
  padding-top: 50px;
  width: 50%;
}

.mainImage img {
  width: 100%;
}

.mainButtons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #8bbabb;
  padding-bottom: 100px;
  padding-top: 75px;
}

.button1 input, .button2 input {
  padding: 5px;
  width: 150px;
  height: 80px;
  border-radius: 20px 20px 20px;
  border: 2px solid tomato;
  margin-top: 50px;
}

.yes {
  background: #6c7b95;
}

.yesQuestion1 {
  color: white;
}

.yesQuestion1 form {
  width: 100%;
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.yesQuestion1 fieldset {
  border: none;
  width: 50%;
}

.yesQuestion1 legend {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
}

.yesQuestion1 input[type=radio] {
  display: inline-block;
  margin-right: 20px;
}

.yesQuestion1 label {
  font-size: 1.6rem;
  width: 40%;
}

.yesQuestion1 div {
  margin-bottom: 20px;
}

.yesQuestion1 input[type=submit] {
  margin: 50px auto;
  width: 100px;
  display: block;
}

.no {
  background: #464159;
}

.noQuestion1 {
  color: white;
}

.noQuestion1 form {
  width: 100%;
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noQuestion1 fieldset {
  border: none;
  width: 50%;
}

.noQuestion1 legend {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
}

.noQuestion1 input[type=radio] {
  display: inline-block;
  margin-right: 20px;
}

.noQuestion1 label {
  font-size: 1.6rem;
  width: 40%;
}

.noQuestion1 div {
  margin-bottom: 20px;
}

.noQuestion1 input[type=submit] {
  margin: 50px auto;
  width: 100px;
  display: block;
}

.results {
  background: #c7f0db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.results h2 {
  margin: 0;
  padding-top: 50px;
  font-size: 3rem;
  margin-bottom: 50px;
}

.results p {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.results a.twitter-share-button, .results a {
  margin-top: 20px;
  font-size: 1.8rem;
  display: block;
  color: rebeccapurple;
}

p {
  margin: 0;
  background: #464159;
  text-align: center;
  color: white;
}
